

/*联系我们*/
.lx_us{text-align:left;padding:0 0 0 20px}
.lx_us ul{margin-bottom:30px;}
.lx_us ul .l1{font-size:25px;height:40px;line-height:40px;}
.lx_us ul li{height:40px;line-height:40px;font-size:14px;}




/*底部*/
.wz_db{background:#F0F0F0;}
.wz_db .wz_db_com1{max-width:1200px;margin:0 auto;padding:40px 0}
.wz_db .wz_db_com1 ul{clear:both;overflow:hidden;padding:0 1%}
.wz_db .wz_db_com1 ul li{float:left;color:#4D4D4D;margin:0 0%;width:16.6%;font-size:16px;font-weight: bold;}
.wz_db .wz_db_com1 ul li .dtit{font-size:16px;height:45px;line-height:45px;}
.wz_db .wz_db_com1 ul li ul{clear:both;overflow:hidden;}
.wz_db .wz_db_com1 ul li ul li{float:none;width:100%;margin:0px;}
.wz_db .wz_db_com1 ul li ul li a{color:#4D4D4D;cursor: pointer;}
.wz_db .wz_db_com2{background:#F0F0F0}
.wz_db .wz_db_com2 .wz_db_cc{max-width:1200px;margin:0 auto;color:#4D4D4D;padding:20px 2%}
.wz_db .wz_db_com1 ul li .ewm{text-align:center;}
.wz_db .wz_db_com1 ul li .ewm img{width:130px;}
.wz_db .wz_db_com1 ul li .ewmcom{text-align:center;}







/*首页_图片链接*/
.sy_tplj{max-width:1200px;margin:50px auto;}
.sy_tplj .slj_com{clear:both;overflow:hidden;}
.sy_tplj .slj_com li{float:left;width:22%;margin:5px 1.5%;}
.sy_tplj .slj_com li a{display:block;position:relative;line-height:0px;}
.sy_tplj .slj_com li a img{line-height:0px;width:100%;}
.sy_tplj .slj_com li .s1{position:absolute;bottom:40px;left:30px;border-bottom:1px solid #fff;padding:0 0 0px 0;color:#fff;font-size:20px;height:30px;line-height:30px;}
.sy_tplj .slj_com li .com1{position:absolute;top:0;left:0px;z-index:10;background:url(/gxss/style/two/images/mkflbg.png) repeat left top;color:#FFF;width:100%;height:100%;text-align:center;display:none}
.sy_tplj .slj_com li .com1 span{text-align:center;}
.sy_tplj .slj_com li .com1 .s2{font-size:20px;margin-top:40%;display:none;}
.sy_tplj .slj_com li .com1 .s3{border:1px solid #FFF;height:35px;line-height:35px;font-size:16px;width:100px;margin:20px auto 0 auto;display:none;}




/*首页_产品中心*/
.sy_pro{width:100%;background:url(/gxss/style/two/images/mkdbg.jpg) no-repeat center center;padding:50px 0;}
.sy_pro .sy_proc{max-width:1200px;margin:0 auto;}
.sy_pro .sy_proc .sy_pc_tit{text-align:center;padding:0 0 20px 0}
.sy_pro .sy_proc .sy_pc_tit span{}
.sy_pro .sy_proc .sy_pc_tit .s1{height:35px;line-height:35px;display:block;color:#FFF;font-size:25px;font-weight:bold;}
.sy_pro .sy_proc .sy_pc_tit .s2{height:35px;line-height:35px;display:block;padding:0 20px;color:#FFF;font-size:20px;margin-top:10px;background:url(/gxss/style/two/images/mktitxbg.png) no-repeat center center;}
.sy_pro .sy_proc .sy_pc_com{max-width:1080px;margin:30px auto;}
.sy_pro .sy_proc .sy_pc_more{width:130px;height:40px;line-height:40px;font-size:16px;text-align:center;margin:20px auto 0 auto;display:block;border:1px solid #FFF;transition:all 1s ease;color:#fff;}
.sy_pro .sy_proc .sy_pc_more:hover{background:#FFF;color:#000;}







@media only screen and (max-width:1140px)
{
	
	
.sy_pro .sy_proc .sy_pc_com{max-width:820px;margin:0px auto;}
	
}
@media only screen and (max-width:840px)
{
	
	
.sy_pro .sy_proc .sy_pc_com{max-width:530px;margin:0px auto;}
	
}
@media only screen and (max-width:560px)
{
	
	
.sy_pro .sy_proc .sy_pc_com{max-width:240px;margin:0px auto;}
	
}




/*首页_新闻资讯*/
.sy_news{max-width:1200px;margin:0 auto;clear:both;overflow:hidden;padding:50px 0;}
.sy_news .sy_n_fl{float:left;width:30%;}
.sy_news .sy_n_fl .sy_fl_tit{clear:both;overflow:hidden;height:35px;line-height:35px;margin-bottom:10px;}
.sy_news .sy_n_fl .sy_fl_tit span{display:block;width:70%;float:left;font-size:16px;color:#000;font-weight:bold;}
.sy_news .sy_n_fl .sy_fl_tit span .f2{color:#4d4d4d;font-weight:normal;}
.sy_news .sy_n_fl .sy_fl_tit a{display:block;text-align:right;float:right;background:url(images/index.png) no-repeat right center;padding-right:20px;width:20%;}
.sy_news .sy_n_fr{float:right;width:68%;}
.sy_news .sy_n_fr .sy_fr_tit{clear:both;overflow:hidden;height:35px;line-height:35px;margin-bottom:10px;}
.sy_news .sy_fr_tit span{display:block;width:60%;float:left;font-size:16px;color:#000;font-weight:bold;}
.sy_news .sy_n_fr .sy_fr_tit span .f2{color:#4d4d4d;font-weight:normal;}
.sy_news .sy_fr_tit a{display:block;text-align:right;float:right;background:url(/gxss/style/two/images/index.png) no-repeat right center;padding-right:20px;width:30%;}
.sy_news .sy_fr_tit {padding-bottom: 40px;}








/*关于我们*/
.aboutus{clear:both;overflow:hidden}
.aboutus .about_c1{float:left;width:40%;padding:0 2%;}
.aboutus .about_c1 img{width:100%;}
.aboutus .about_c2{float:right;width:50%;padding:0 2%;}







/*服务理念*/
.fwln{width:97%;padding:0 1.5%;}
.fwln .fwln_c1{width:100%;}
.fwln .fwln_c2{width:100%;clear:both;overflow:hidden}
.fwln .fwln_c2 li{float:left;width:48%;margin:10px 1%;min-height:140px;}
.fwln .fwln_c2 li .ln2_com{clear:both;overflow:hidden;}
.fwln .fwln_c2 li .ln2_com .ln2_fl{float:left;width:20%;text-align:center;}
.fwln .fwln_c2 li .ln2_com .ln2_fr{float:right;width:79%;text-align:left;}
.fwln .fwln_c2 li .ln2_com .ln2_fr span{display:block;}
.fwln .fwln_c2 li .ln2_com .ln2_fr .fr_tit{font-size:16px;font-weight:bold;height:30px;line-height:30px;}
.fwln .fwln_c2 li .ln2_com .ln2_fr .fr_com{line-height:25px;font-size:13px;}




@media only screen and (max-width:1000px)
{


/*首页_新闻资讯*/
.sy_news .sy_n_fl{width:97%;margin:10px 1.5%}
.sy_news .sy_n_fr{width:97%;margin:10px 1.5%}


}

@media only screen and (max-width:900px)
{
	
	
/*服务理念*/
.fwln .fwln_c2 li{float:left;width:97%;margin:10px 1.5%;}
	
}


@media only screen and (max-width:640px)
{


/*首页_图片链接*/
.sy_tplj .slj_com li{width:97%;}



/*底部*/
.wz_db .wz_db_com1 ul li{width:97%;margin:10px 1.5%}


/*关于我们*/
.aboutus .about_c1{float:left;width:97%;padding:0 1.5%;}
.aboutus .about_c2{float:right;width:97%;padding:0 1.5%;}



.fwln .fwln_c2 li .ln2_com .ln2_fl{float:left;width:100%;text-align:center;}
.fwln .fwln_c2 li .ln2_com .ln2_fr{float:right;width:97%;margin:0 1.5%;text-align:left;}
.fwln .fwln_c2 li .ln2_com .ln2_fr .fr_tit{text-align:center;}

}



/*子栏目联系我们*/
.zlm-lxwm-box{clear:both;overflow:hidden;}
.zlm-lxwm-box .lxwm-left{float:left;width:40%;}
.zlm-lxwm-box .lxwm-left span.lxwm-title{display:block;background:rgb(255,107,102);line-height:35px;font-size:18px;color:white;padding-left:10px;}
.zlm-lxwm-box .lxwm-left span.lxwm-lxfs{display:block;line-height:30px;background:rgb(247,247,247);padding-left:8px;color:rgb(153,150,153);font-size:14px;}
.zlm-lxwm-box .lxwm-right{float:left;width:45%;margin-left:40px;}

.ljyd_table{border:0px solid #eeeeee}
.ljyd_table td{border:0px solid #eeeeee;padding:20px 0px;}
.ljyd_table td.ljyd-box{padding:10px 0px 0px 0px;color:rgb(51,51,51);font-size:16px;}
.ljyd_table td input{width:97%;height:33px;line-height:33px;border:1px rgb(204,204,204) solid;padding:0px 1%;}
.ljyd_table td input:hover{border:1px #111 solid;}
.ljyd_table td select{width:99%;height:33px;line-height:33px;border:1px rgb(204,204,204) solid;padding:0px 0px 0px 1%;}
.ljyd_table td select:hover{border:1px #111 solid;}
.ljyd_table td textarea{width:97%;height:100px;line-height:25px;border:1px rgb(204,204,204) solid;padding:0px 1%;}
.ljyd_table td textarea:hover{border:1px #111 solid;}
.ljyd_table td .bt{width:99%;border:0px;background:rgb(255,107,102);height:45px;line-height:45px;color:white;}
.ljyd_table td .bt:hover{border:0px;}

@media only screen and (max-width:640px)
{
.zlm-lxwm-box .lxwm-left{width:100%;}
.zlm-lxwm-box .lxwm-right{width:100%;margin-left:0px;}
.ljyd_table td{padding:10px 0px;}
}


