    <div class="bottom_box">
      <div class="qhd-content">
        <p style="text-align:center;">
          <span style="font-size:16px;color:#000000;"><span style="color:#666666;"></span><span style="color:#FFFFFF;font-size:14px;">Copyright All Rights Reserved @版权所有 中山某某有限公司</span></span>
        </p>
        <p style="text-align:center;">
          <span style="font-size:14px;color:#FFFFFF;">地址：中山市某某区某某楼171号1701室 电话：0760-12345678　传真：0760-12345679</span>
        </p>
        <p style="text-align:center;">
          <span style="font-size:14px;color:#FFFFFF;">手机：12345678911　黄小姐</span>
        </p>
      </div>
    </div>
    <div align=center style='padding:5px'>Powered by <a href='http://www.pageadmin.net'><b>PageAdmin CMS</b></a></div>
  </div>
</body>


</html>