{template "content","header"}
    <div class="banner">
      <script src="/gxss/style/one/js/d/slide_12.js" type="text/javascript"></script>
    </div>
    <div class="main_box main_box_style">
      <div class="main_box_inner">
        <ul class="sy_gywmjj_box fadedown">
          <li class="col-sm-6 zdy_left"><img src="/gxss/style/one/css/images/tp.jpg" /></li>
          <li class="col-sm-6 zdy_right">
            <h3 class="gywmjj_title">观象授时</h3>
            <div class="gywmjj_con">
              观象授时，天时的政治化。观象授时是古天文学的伟大成就。中国社会科学院考古研究所冯时教授认为“在远古社会掌握天时的人就是了解天意的人，或者是可以与天沟通的人。”江晓原先生认为，“观象授时是依据历法知识，安排统治阶级的重大政治事务日程”。在我们看来不管是哪种解释，观象授时不仅仅是天文活动，更重要的是一种维护王权的政治活动，由此以祖配天、君权神授的古老宗教观也就天然形成。可见，由天文而人文是中国古人天然的思想路径。观象授时的古天文活动也为文明的起源和发展书写了重要的一笔。很难想象，如果没有相对准确的时间作指导，农业文明将决难达成。
            </div>
            <div class="wc_more"><a class="mk_more" href="/index.aspx?lanmuid=62&sublanmuid=817">查看更多</a></div>
          </li>
        </ul>
        <ul class="sy_sjtd_box fadeup">
          <li class="col-sm-6 zdy_left">
            <h3 class="gywmjj_title">授时领域</h3>
            <div class="gywmjj_con">
              室内设计精英团队主创设计来自亚洲顶级室内设计公司，荣获多项国内外设计大奖，是一批具有强烈的创作欲望、善于思考、不断进取的设计师精英。
              <br/><br/> 团队有着丰富的室内设计创意及设计理念，更是有着多年的别墅豪宅、商业空间设计经验，且均来自美术学院、美工学院、美术大学等专业设计院校背景，更是有着国际化的视野及敏锐的时尚触觉，他们崇尚以设计为核心，设计创造价值，提出“无创意”“不设计”的设计理念服务每个客户。
            </div>
            <div class="wc_more"><a class="mk_more" href="/index.aspx?lanmuid=62&sublanmuid=818">查看更多</a></div>
          </li>
          <li class="col-sm-6 zdy_right">
            <script src="/gxss/style/one/js/d/slide_18.js" type="text/javascript"></script>
          </li>
        </ul>
        

        <div id="module_232" class="module_box">
          <div class="module_box_inner">
            <div class="module_title">
              <span class="module_sign">
                <span>产品展示</span>
                <i></i>
              </span>
              <span class="module_more"></span>
            </div>
            <div id="module_content_232" class="module_content">
              <ul class="mkmx_twlb">

                <li class="col-sm-4 animates4">
                  <span class="pic">
                    <a href="/index.aspx?lanmuid=63&sublanmuid=840&id=662">
                      <!-- 比例 640:360  x:3642  -->
                      <img src="/gxss/style/one/upload/show/1.jpg"/>
                    </a>
                  </span>
                  <div class="con">
                    <a class="title" href="/index.aspx?lanmuid=63&sublanmuid=840&id=662">吉祥摆件</a>
                  </div>
                </li>

                <li class="col-sm-4 animates4">
                  <span class="pic">
                    <a href="/index.aspx?lanmuid=63&sublanmuid=840&id=661">
                      <img src="/gxss/style/one/upload/show/2.jpg"/>
                    </a>
                  </span>
                  <div class="con">
                    <a class="title" href="/index.aspx?lanmuid=63&sublanmuid=840&id=661">灵石助运</a>
                  </div>
                </li>

                <li class="col-sm-4 animates4">
                  <span class="pic">
                    <a href="/index.aspx?lanmuid=63&sublanmuid=840&id=660">
                      <img src="/gxss/style/one/upload/show/3.jpg"/>
                    </a>
                  </span>
                  <div class="con">
                    <a class="title" href="/index.aspx?lanmuid=63&sublanmuid=840&id=660">生肖化煞助运</a>
                  </div>
                </li>

                <br><br>

                <li class="col-sm-4 col-sm-offset-1 animates4">
                  <span class="pic">
                    <a href="/index.aspx?lanmuid=63&sublanmuid=840&id=659">
                      <img src="/gxss/style/one/upload/show/4.jpg"/>
                    </a>
                  </span>
                  <div class="con">
                    <a class="title" href="/index.aspx?lanmuid=63&sublanmuid=840&id=659">水晶生机阵</a>
                  </div>
                </li>

                <li class="col-sm-4 col-sm-offset-1 animates4">
                  <span class="pic">
                    <a href="/index.aspx?lanmuid=63&sublanmuid=840&id=659">
                      <img src="/gxss/style/one/upload/show/5.jpg"/>
                    </a>
                  </span>
                  <div class="con">
                    <a class="title" href="/index.aspx?lanmuid=63&sublanmuid=840&id=659">五行佩饰</a>
                  </div>
                </li>

              </ul>
            </div>
            <div class="module_footer"><span class="l"></span><span class="r"></span></div>
          </div>
        </div>


        <dl class="sy_zxal_box fadedown">
          <dd>
            <div class="zxal_box"><span class="zxal_sign"><span>授时联盟</span><i></i></span>
            </div>
            <div>
              <ul class="mk_zxal_box">

                <li class="col-lg-2 col-sm-4 col-xs-6">
                  <a data-lightbox="example-set" href="/gxss/style/one/upload/s1/article/image/2016/09/tpic_t_30104800.jpg">
                    <div class="zxal_pic"><img src="/gxss/style/one/upload/s1/article/image/2016/09/tpic_t_30104800.jpg" /></div>
                    <div class="zxal_ll"><span>古典风格公寓玄关餐厅</span><i>【 · 浏览 · 】</i></div>
                    <em class="zxal_bg"></em>
                  </a>
                </li>

                <li class="col-lg-2 col-sm-4 col-xs-6">
                  <a data-lightbox="example-set" href="/gxss/style/one/upload/s1/article/image/2016/09/tpic_t_30104745.jpg">
                    <div class="zxal_pic"><img src="/gxss/style/one/upload/s1/article/image/2016/09/tpic_t_30104745.jpg" /></div>
                    <div class="zxal_ll"><span>爱琴海浪漫风格豪华别墅</span><i>【 · 浏览 · 】</i></div>
                    <em class="zxal_bg"></em>
                  </a>
                </li>

                <li class="col-lg-2 col-sm-4 col-xs-6">
                  <a data-lightbox="example-set" href="/gxss/style/one/upload/s1/article/image/2016/09/tpic_t_30104711.jpg">
                    <div class="zxal_pic"><img src="/gxss/style/one/upload/s1/article/image/2016/09/tpic_t_30104711.jpg" /></div>
                    <div class="zxal_ll"><span>爱琴海浪漫风格豪华别墅</span><i>【 · 浏览 · 】</i></div>
                    <em class="zxal_bg"></em>
                  </a>
                </li>

                <li class="col-lg-2 col-sm-4 col-xs-6">
                  <a data-lightbox="example-set" href="/gxss/style/one/upload/s1/article/image/2016/09/tpic_t_30104655.jpg">
                    <div class="zxal_pic"><img src="/gxss/style/one/upload/s1/article/image/2016/09/tpic_t_30104655.jpg" /></div>
                    <div class="zxal_ll"><span>博大同途简约装修风格家居</span><i>【 · 浏览 · 】</i></div>
                    <em class="zxal_bg"></em>
                  </a>
                </li>

                <li class="col-lg-2 col-sm-4 col-xs-6">
                  <a data-lightbox="example-set" href="/gxss/style/one/upload/s1/article/image/2016/09/tpic_t_30104634.jpg">
                    <div class="zxal_pic"><img src="/gxss/style/one/upload/s1/article/image/2016/09/tpic_t_30104634.jpg" /></div>
                    <div class="zxal_ll"><span>风标准格局装修</span><i>【 · 浏览 · 】</i></div>
                    <em class="zxal_bg"></em>
                  </a>
                </li>

                <li class="col-lg-2 col-sm-4 col-xs-6">
                  <a data-lightbox="example-set" href="/gxss/style/one/upload/s1/article/image/2016/09/tpic_t_30104616.jpg">
                    <div class="zxal_pic"><img src="/gxss/style/one/upload/s1/article/image/2016/09/tpic_t_30104616.jpg" /></div>
                    <div class="zxal_ll"><span>简约欧式风格小户型</span><i>【 · 浏览 · 】</i></div>
                    <em class="zxal_bg"></em>
                  </a>
                </li>

              </ul>
            </div>
          </dd>
        </dl>
      </div>
      <div class="clear main_box_inner_bottom"></div>
    </div>
    <br>
    <br>

{template "content","footer"}