
<!-- 
  



  /gxss/style/two/



-->


{template "content","header"}
    <div class="banner">
      <script src="/gxss/style/two/js/d/slide_12.js" type="text/javascript"></script>
    </div>

    <div class="main_box main_box_style">
      <div class="main_box_inner">


        <div id="module_210" class="module_box fadedown">
          <div class="module_box_inner">
            <div id="module_content_210" class="module_content module_content_introduct">
              <div class="sy_tplj">
                <ul class="slj_com">
                  <li>
                    <a href="/index.aspx?lanmuid=62&sublanmuid=688" class="sy_m">
                      <img src="/gxss/style/two/images/diy/fl1.jpg">
                      <span class="s1">观象授时</span>
                      <div class="com1">
                        <div class="s2">观象授时</div>
                        <div class="s3">查看详情</div>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="/index.aspx?lanmuid=62&sublanmuid=723" class="sy_m">
                      <img src="/gxss/style/two/images/diy/fl2.jpg">
                      <span class="s1">观象我们</span>
                      <div class="com1">
                        <div class="s2">观象我们</div>
                        <div class="s3">查看详情</div>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="/index.aspx?lanmuid=86&sublanmuid=717" class="sy_m">
                      <img src="/gxss/style/two/images/diy/fl3.jpg">
                      <span class="s1">授时领域</span>
                      <div class="com1">
                        <div class="s2">授时领域</div>
                        <div class="s3">查看详情</div>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="/index.aspx?lanmuid=63&sublanmuid=702" class="sy_m">
                      <img src="/gxss/style/two/images/diy/fl4.jpg">
                      <span class="s1">授时联盟</span>
                      <div class="com1">
                        <div class="s2">授时联盟</div>
                        <div class="s3">查看详情</div>
                      </div>
                    </a>
                  </li>
                </ul>
              </div>



              <script>
                $(document).ready(function () {
                  var spuli = $(".slj_com").children("li");

                  spuli.each(function () {
                    $(this).mouseenter(function () {

                      $(this).children("a").children(".com1").fadeIn().siblings("li").children("a").children(
                        ".com1").fadeOut();
                      $(this).children("a").children(".com1").children(".s2").slideDown();
                      $(this).children("a").children(".com1").children(".s3").slideDown();
                      $(this).children("a").children(".s1").fadeOut()



                    })
                    $(this).mouseleave(function () {

                      $(this).children("a").children(".com1").fadeOut();
                      $(this).children("a").children(".com1").children(".s2").fadeOut();
                      $(this).children("a").children(".com1").children(".s3").fadeOut();
                      $(this).children("a").children(".s1").fadeIn()


                    })
                  })
                })
              </script>

            </div>
            <div class="module_footer"><span class="l"></span><span class="r"></span></div>
          </div>
        </div>

        <div id="module_211" class="module_box fadedown">
          <div class="module_box_inner">
            <div id="module_content_211" class="module_content module_content_introduct">

              <div class="sy_pro">
                <div class="sy_proc">
                  <div class="sy_pc_tit">
                    <span class="s1">产品展示</span>
                    <span class="s2">Product</span>
                  </div>
                  <div class="sy_pc_com">
                    <div class="marquee_pic marquee" id="m_211_0"><a class="prev"></a><a class="next"></a>
                      <!--控制按钮-->
                      <div class="inner">
                        <ul>

                          <li class="hx">
                            <a href="/index.aspx?lanmuid=67&sublanmuid=697&id=79" target="_self">
                              <img src="/gxss/style/two/images/product/1.jpg" border="0">
                            </a>
                            <a href="/index.aspx?lanmuid=67&sublanmuid=697&id=79" target="_self" title="吉祥摆件">吉祥摆件</a>
                          </li>

                          <li class="hx">
                            <a href="/index.aspx?lanmuid=67&sublanmuid=697&id=80" target="_self">
                              <img src="/gxss/style/two/images/product/2.jpg" border="0">
                            </a>
                            <a href="/index.aspx?lanmuid=67&sublanmuid=697&id=80" target="_self" title="灵石助运">灵石助运</a>
                          </li>

                          <li class="hx">
                            <a href="/index.aspx?lanmuid=67&sublanmuid=697&id=81" target="_self">
                              <img src="/gxss/style/two/images/product/3.jpg" border="0">
                            </a>
                            <a href="/index.aspx?lanmuid=67&sublanmuid=697&id=81" target="_self" title="生肖化煞助运">生肖化煞助运</a>
                          </li>

                          <li class="hx">
                            <a href="/index.aspx?lanmuid=67&sublanmuid=697&id=82" target="_self">
                              <img src="/gxss/style/two/images/product/4.jpg" border="0">
                            </a>
                            <a href="/index.aspx?lanmuid=67&sublanmuid=697&id=82" target="_self" title="水晶生机阵">水晶生机阵</a>
                          </li>

                          <li class="hx">
                            <a href="/index.aspx?lanmuid=67&sublanmuid=697&id=83" target="_self">
                              <img src="/gxss/style/two/images/product/5.jpg" border="0">
                            </a>
                            <a href="/index.aspx?lanmuid=67&sublanmuid=697&id=83" target="_self" title="五行佩饰">五行佩饰</a>
                          </li>

                          

                        </ul>
                      </div>
                    </div>
                    <script type="text/javascript">
                      marquee("m_211_0", "left", 1500);
                    </script>
                  </div>
                  <a href="/index.aspx?lanmuid=67&sublanmuid=697" class="sy_pc_more">查看更多 ></a>
                </div>
              </div>

            </div>
            <div class="module_footer"><span class="l"></span><span class="r"></span></div>
          </div>
        </div>

        <div id="module_212" class="module_box">
          <div class="module_box_inner">
            <div id="module_content_212" class="module_content module_content_introduct">

              <div class="sy_news">
                <div>
                  <div class="sy_fr_tit"><span>授时联盟<font class="f2">/ALLIANCE</font></span><a href="/index.aspx?lanmuid=84&sublanmuid=708">查看更多</a></div>
                  <div class="sy_fr_com">
                    <ul class="alpiczs">

                      <li class="bigpic"><a href="/index.aspx?lanmuid=84&sublanmuid=708&id=537"><span><img src="/gxss/style/two/images/join/1.jpg"></span><span>荣盛白鹭岛</span></a></li>

                      <li class="bigpic"><a href="/index.aspx?lanmuid=84&sublanmuid=708&id=536"><span><img src="/gxss/style/two/images/join/2.jpg"></span><span>金融街巽寮</span></a></li>

                      <li class="bigpic"><a href="/index.aspx?lanmuid=84&sublanmuid=708&id=535"><span><img src="/gxss/style/two/images/join/3.jpg"></span><span>湾溪语蓝湾</span></a></li>

                      <li class="bigpic"><a href="/index.aspx?lanmuid=84&sublanmuid=708&id=534"><span><img src="/gxss/style/two/images/join/4.jpg"></span><span>蔚蓝海岸</span></a></li>

                    </ul>
                  </div>
                </div>
              </div>

            </div>
            <div class="module_footer"><span class="l"></span><span class="r"></span></div>
          </div>
        </div>

{template "content","footer"}