/*视频播放*/
@font-face {
  font-family: 'VideoJS';
  src: url('font/vjs.eot');
  src: url('font/vjs.eot?#iefix') format('embedded-opentype'), url('font/vjs.woff') format('woff'), url('font/vjs.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.page_style #example_video_1:hover .vjs-big-play-button{*background:url(images/spbg.png) no-repeat 0 0;}
.page_style .vjs-default-skin .vjs-big-play-button{top:50%;left:50%;margin-left:-2em;margin-top:-1.3em;*background:url(images/spbg.png) no-repeat 0 0;*border:0px;*width:126px;*height:84px;*margin:-42px 0px 0px -63px;}


.w1000{clear:both;overflow:hidden;width:100%;max-width:1000px;margin:0px auto;}
.wc_more{clear:both;overflow:hidden;width:100%;text-align:center;margin:0px 0px 2em 0px;}
a.mk_more{display:inline-block;*display:inline;*zoom:1;line-height:34px;padding:0 30px;transition:all 0.5s ease 0s;border:1px solid #ccc;color:#808080;}
a.mk_more:hover{background-color:#005db4;color:#fff;border-color:#005db4;text-decoration:none;}




/*顶部*/
.top_com1{position:absolute;top:0px;left:0px;width:100%;height:45px;line-height:45px;background:#272526;}
.top_com1 .top_com1_cc{width:1200px;margin:0 auto;}
.top_com1 .top_d_left{text-align:left;color:#FFF;}
.top_com1 .top_d_right{text-align:right}
.top_com2{margin-top:50px;}
.top_com2 .top_c_c2{position:absolute;top:0px;right:0px;}
.top_com2 .top_com2_c1{color:#FF0000;font-size:24px;background:url(images/dhbg.png) no-repeat left center;padding-left:40px;}


/*首页_关于我们*/
.sy_about{max-width:1000px;margin:0 auto;}
.sy_about .sa_pic{text-align:center;}
.sy_about .sa_com{line-height:28px;}




/*首页_业务介绍*/
.sy_yewu{max-width:1000px;margin:0 auto;}
.sy_yewu .ywjs{text-align:center;padding:0px 10px ;margin:10px 0;}
.sy_yewu .ywjs span{display:block;background:#FF5B03;color:#FFF;}
.sy_yewu .ywjs span.s1{padding:30px 0 10px 0}
.sy_yewu .ywjs span.s2{padding:10px 0 20px 0;font-size:18px}




/*首页_案例展示*/
.sy_anli{max-width:1000px;margin:0 auto;}
.sy_anli .mored{width:120px;height:35px;line-height:35px;text-align:center;display:block;margin:0 auto;background:#FF5B03;color:#FFF;}




/*首页_核心团队*/
.sy_hxtd{}
@media screen and (max-width:1920px){
	.sy_hxtd{max-width:1650px;margin:0 auto;}
	}
@media screen and (max-width:1670px){
	.sy_hxtd{max-width:1375px;margin:0 auto;}
	}
@media screen and (max-width:1390px){
	.sy_hxtd{max-width:1100px;margin:0 auto;}
	}
@media screen and (max-width:1120px){
	.sy_hxtd{max-width:825px;margin:0 auto;}
	}
@media screen and (max-width:1000px){
	.sy_hxtd{max-width:825px;margin:0 auto;}
	}
@media screen and (max-width:840px){
	.sy_hxtd{max-width:550px;margin:0 auto;}
	}
@media screen and (max-width:570px){
	.sy_hxtd{max-width:275px;margin:0 auto;}
	}





/*首页_新闻资讯*/
.sy_news{max-width:1000px;margin:0 auto;}
.sy_news .mored{width:120px;height:40px;line-height:40px;color:#FFF;background:#FF5B03;display:block;margin:20px auto;text-align:center;}



/*首页_加入我们*/
#module_276{background:url(/gxss/style/five/images/jiarubg.jpg) no-repeat center center #1F1F1F;}
#module_276 .module_sign{color:#FFF;}
#module_276 .module_sign .module-full-screen-title i{color:#FFF;}
#module_276 .module_sign .th_tits{color:#FFF;}
.sy_join{text-align:center;max-width:1000px;margin:0 auto;color:#FFF;}
.sy_join .join_c1{line-height:40px;font-size:20px;}
.sy_join .mores{width:120px;height:40px;line-height:40px;color:#FFF;background:#E09109;display:block;margin:20px auto;font-size:16px;}




/*首页_联系我们*/
.sy_conatact{max-width:1000px;margin:0 auto;}
.sy_conatact .sc_fs{text-align:center;}
.sy_conatact .sc_fs span{display:block;line-height:35px;}



/*联系我们*/
.contact_com{padding-top:50px;}
.contact_com li{line-height:40px;}

.lx_tit{text-align:left;font-size:24px;color:#FF0000;}
.lianxifs .titse{text-align:left;line-height:40px;font-weight:bold;font-size:18px;color:#EA5503}
.lianxifs span{display:block;line-height:35px;}
.lianxifs_ewm span{display:block;}



.lianxiewm{margin-top:30px;text-align:center;}
@media screen and (max-width:800px){
.lx_com span{display:block;padding:0px;width:100%;}

	}



.xiaoshou{}
.xiaoshou .xiaoshou_com{margin-bottom:50px;}
.xiaoshou .wd_tit{height:50px;line-height:50px;font-size:20px;font-weight:bold;color:#000;border-bottom:1px solid #ddd;}


.wd_coms_cl{clear:both;overflow:hidden;}
.wd_coms_cl .cl_fl{float:left;width:45%;padding:0 2.5%;margin:10px 0;}

@media screen and (max-width:700px){
	.wd_coms_cl .cl_fl{float:left;width:98%;padding:0 1%;margin:10px 0;}
	}


/*底部*/
.db_content{background:#252526;}
.db_content .db_com{max-width:1000px;margin:0 auto;clear:both;overflow:hidden;padding:20px 10px;}
.db_content .db_com .dbc_c2{float:left;width:100%}
.db_content .db_com .dv2{margin-top:10px;text-align:left;}
.db_content .db_com .dv2 ul li a{line-height:30px;color:#FFF;}
.db_content .db_com .dv2 ul li .tits{height:40px;line-height:40px;font-weight:bold;color:#fff;font-size:16px;}
.db_content .db_com .dv1{text-align:center;margin-top:40px;color:#FFF;}
.db_content .db_com .dv1 .d1 img{width:70%;}
.db_content .db_com .dv2 .com1{background:url(images/dbbg.png) no-repeat left center;font-size:30px;padding-left:60px;}
.db_content .db_com .dv2 .com2{line-height:40px;}


.db_contents{background:#18191A;color:#FFF;}
.db_contents .db_c_com{max-width:1000px;margin:0 auto;line-height:45px;}

@media screen and (max-width:700px){
.db_content .db_com .dv2 .com1{font-size:20px;padding-left:60px;height:50px;line-height:50px;}
	}
	
	
.mark-left{display: inline-block;*display: inline;*zoom: 1;position: relative;top: -5px;width: 100px;height: 1px;overflow: hidden;background-color: #ccc;}
.mark-right{display: inline-block;*display: inline;*zoom: 1;position: relative;top: -5px;width: 100px;height: 1px;overflow: hidden;background-color: #ccc;}
.en_tit{font-size:15px;padding:0 20px;color:#8E8080}