<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
</head>
<body>
  

  <input type="checkbox" name="cho" id='a'>
  <label for="a">A</label>
  <input type="checkbox" name="cho" id='b'>
  <label for="b">B</label>
  <input type="checkbox" name="cho" id='c'>
  <label for="c">C</label>
  <input type="checkbox" name="cho" id='d'>
  <label for="d">D</label>


  <script>
  $(function(){
    $('input').on('change',function(){
      $('input').next('label').css({'color':'#000'});
      $('input').filter(':checked').next('label').css({'color':'red'})
    })
  })
  </script>
</body>
</html>