{template "content","header"}
    <div class="banner">
      <div align="center">
        <img src="/gxss/style/five/images/banner/banner-1.jpg" />
      </div>
    </div>

    <div class="main_box main_box_style">
      <div class="main_box_inner">
        <div class="current_location">
          <ul>
            <li class="current_location_1">当前位置：<a href="{WEB_PATH}">首页</a> &gt; <a href="{$CATEGORYS[$catid][url]}">{$CATEGORYS[$catid][catname]}</a> 
            <li class="current_location_2">{$CATEGORYS[$catid][catname]}</li>
          </ul>
        </div>

        <div class="sublanmu_box">
          <div class="sublanmu_content sublanmu_content_article">
            <ul class="tpzs_box">
              {pc:content  action="lists" catid="$catid" order="id DESC" num="20" page="$_GET[page]"}
              {loop $data $r}
              <li class="tpzs_animate col-md-4 col-xs-12">
                <a class="pic" href="{$r[url]}">
                  <img src="{$r[thumb]}"/>
                </a>
                <a class="tpzs_title" href="{$r[url]}">{$r[title]}</a>
              </li>
              {/loop}

              {/pc}

            </ul>
          </div>
        </div>
      </div>
      <div class="clear main_box_inner_bottom"></div>
    </div>

{template "content","footer"}