{template "content","header"}

    <style>
    .main_box .sublanmu_box .tpzs_box li a img{max-width:100%;}
    .current_location_1{padding-left:10px;}
    @media (max-width:767px) {
      .current_location_1{float:none;}
      .current_location_2{float:none;}
    }
    </style>
    <div class="banner">
      <div align="center">
        <img src="{$CATEGORYS[$catid][image]}" style="width:100%;" />
      </div>
    </div>

    <div class="main_box main_box_style">
      <div class="main_box_inner">
        <div class="current_location">
          <ul>
            
            {pc:content action="category" catid="$CATEGORYS[$catid][parentid]" num="25" order="listorder ASC"}
            
            {loop $data $r}
           
            {if $r[catid] == $catid}
            <li class="current_location_2">{$r[catname]}</li>
            <li class="current_location_1 text-left">当前位置：<a href="{WEB_PATH}">首页</a> > <a href="{$CATEGORYS[$CATEGORYS[$catid][parentid]][url]}">{$CATEGORYS[$CATEGORYS[$catid][parentid]][catname]}</a> > <a href="{$CATEGORYS[$r[catid]][url]}">{$CATEGORYS[$r[catid]][catname]}</a></li>
            {/if}
            {/loop}
            {/pc}
            
          </ul>
        </div>

        <div class="sublanmu_box">
          <div class="sublanmu_content sublanmu_content_article">
            <ul class="tpzs_box">
              {pc:content  action="lists" catid="$catid" order="id ASC" num="20" page="$_GET[page]"}
              {loop $data $r}
              <li class="tpzs_animate col-md-4 col-xs-12">
                <a class="pic" href="{$r[url]}">
                  <img src="{$r[thumb]}"/>
                </a>
                <a class="tpzs_title" href="{$r[url]}">{$r[title]}</a>
              </li>
              {/loop}

              {/pc}

            </ul>
          </div>
        </div>
      </div>
      <div class="clear main_box_inner_bottom"></div>
    </div>

{template "content","footer"}