{template "content","header"}
    <style>
    .main_box{background:url(/gxss/style/five/images/app/1.png) no-repeat center;background-size: 100% 100%;}
    .main_box .sublanmu_box .tpzs_box li a{display:block;padding:2em 0 1em;}
    .bottom_box{margin-top:0;}
    </style>
    <div class="main_box main_box_style">
      <div class="main_box_inner">
        <div class="sublanmu_box">
          <div class="sublanmu_content sublanmu_content_article">
            <ul class="tpzs_box">
              
              <li class=" col-md-6 col-xs-12">
                  <img src="/gxss/style/five/images/app/phone_gxss.png" />
              </li>
              <li class=" col-md-6 col-xs-12 text-center">
                  <h1 style="padding:20px 0 60px;color:#630;">观象授时app下载地址</h1>
                  <a href="">
                    <img src="/gxss/style/five/images/app/ios_download.png"/>
                  </a>
                  <a href="">
                    <img src="/gxss/style/five/images/app/ios_ewm.jpg" alt="">
                  </a>
                  <a href="">
                    <img src="/gxss/style/five/images/app/android_download.png" alt="">
                  </a>
                  <a href="">
                    <img src="/gxss/style/five/images/app/android_ewm.jpg" alt="">
                  </a>
              </li>
              

            </ul>
          </div>
        </div>
      </div>
      <div class="clear main_box_inner_bottom"></div>
    </div>
    

{template "content","footer"}