{template "content","header"}
    <div class="banner">
      <div align="center">
        <img src="{$CATEGORYS[$catid][image]}" style="width:100%;" />
      </div>
    </div>
    <style>
      .main_box .sublanmu_box .clearturn:after{content: '';display: block;clear:both;}
      .main_box .sublanmu_box .fl{float: left;}
      .main_box .sublanmu_box .fr{float: right;}
      .main_box .sublanmu_box .turnpn{padding-top:2em;}
      .main_box .sublanmu_box .turnpn li{font-size: 14px;}
      .current_location_1{padding-left:10px;}
      @media (max-width:767px) {
        .current_location_1{float:none;}
        .current_location_2{float:none;}
      }
    </style>
    <div class="main_box main_box_style">
      <div class="main_box_inner">
        <div class="current_location">
          <ul>
            
            {pc:content action="lists" catid="$catid" num="25" order="listorder ASC"}
            
            {loop $data $r}
           
            {if $r[title] == $title}
            <li class="current_location_2">{$r[title]}</li>
            <li class="current_location_1 text-left">当前位置：<a href="{WEB_PATH}">首页</a> > <a href="{$CATEGORYS[$catid][url]}">{$CATEGORYS[$CATEGORYS[$catid][parentid]][catname]}</a> > <a href="{$CATEGORYS[$r[catid]][url]}">{$CATEGORYS[$r[catid]][catname]}</a></li>
            {/if}
            {/loop}
            {/pc}


            
          </ul>
        </div>

        <div class="sublanmu_box sublanmu_box_867" id="sublanmu_box">
          <div class="sublanmu_content" id="sublanmu_content">
            <div class="neironger">
              <div class="nr_tit">{$title}</div>
              <div class="nr_com">
                <div class="team-info">
                  <div class="qhd-content">
                    {$content}
                    <div class="clearturn turnpn">
                      <li class="fl col-md-4 col-xs-6 text-left">
                        <a href="{$previous_page[url]}"> <small>&lt;&lt;</small>&nbsp;{$previous_page[title]}</a>
                      </li>
                      <li class="fr col-md-4 col-xs-6 text-right">
                        <a href="{$next_page[url]}">{$next_page[title]}&nbsp;<small>&gt;&gt;</small></a>
                      </li>
                    </div>
                    
                  </div>
                </div>
              </div>

            </div>
            <script type="text/javascript">
              Get_Info("article", "890")
            </script>
          </div>
        </div>
      </div>
      <div class="clear main_box_inner_bottom"></div>
    </div>
{template "content","footer"}