{template "content","header"}
    <div class="banner">
      <div align="center">
        <img src="{$CATEGORYS[$catid][image]}"  style="width:100%;"/>
      </div>
    </div>
    <style>
    .main_box .sublanmu_box .tpzs_box li a img{max-width:100%;}
    .current_location_1{padding-left:10px;}
    @media (max-width:767px) {
      .current_location_1{float:none;}
      .current_location_2{float:none;}
    }
    </style>

    <div class="main_box main_box_style1">
      <div class="main_box_inner">
        <div class="main_box_inner_left">
          <div id="nav_104" class="nav_box nav_box_menu">

            <div class="nav_title"><span class="nav_sign">{$CATEGORYS[$catid][catname]}</span><span class="nav_more"></span></div>
            <div id="nav_menu_104" class="nav_menu">
              <ul id="rootul_104">
                {pc:content  action="lists" catid="$catid" order="id ASC" num="10"} 
                {loop $data $r}
                
                <li>
                  <a href="{$r[url]}" {if $r[title] == $title}class="current" {/if}>{$r[title]}</a>
                </li>
                

                {/loop}
                {/pc}
              </ul>
            </div>
          </div>
          <script type="text/javascript">
            Initialization_Nav("rootul_104", "sl694", "0");
          </script>
        </div>

        <div class="main_box_inner_right">
          <div class="current_location">
            <ul>
              <li class="current_location_2">{$title}</li>
              <li class="current_location_1 text-left">当前位置：<a href="{WEB_PATH}">首页</a> ><a href="{$CATEGORYS[$catid][url]}">{$CATEGORYS[$catid][catname]}</a></li>
            </ul>
          </div>
          <div class="sublanmu_box">
            <div class="sublanmu_content sublanmu_content_introduct">
              {$content}
              {if $title == "联系我们"}
              <div>
                <script src="http://api.map.baidu.com/api?v=1.4"></script>
                <style>
                  #mapbox {
                    width: 99%;
                    height: 400px;
                    overflow: hidden;
                    border: 1px solid #ccc;
                    margin: 0 auto
                  }
                </style>
                <div id="mapbox"></div>
                <script>
                  var map = new BMap.Map("mapbox"); // 创建Map实例，必须和地图容器id一致
                  var point = new BMap.Point(116.449297,39.923272); // 创建点坐标
                  map.centerAndZoom(point, 18); // 初始化地图,设置中心点坐标和地图级别，最大19级
                  map.enableScrollWheelZoom(); //启用滚轮放大缩小
                  map.addControl(new BMap.NavigationControl());
                  map.addControl(new BMap.ScaleControl());
                  map.addControl(new BMap.OverviewMapControl());
                  var marker = new BMap.Marker(point);
                  map.enableDragging();     //禁止拖拽
									map.enableScrollWheelZoom(); //开启缩放 禁止map.disableScrollWheelZoom();
                  map.addOverlay(marker);
                  var infoWinOpts = {}
                  var sitetxt =
                    	"<div style='text-align:left;color:#333;line-height:25px;'><li>地址：北京市朝阳区日坛北路6号奥特利玛A0016</li><li>电话：010-60846113</li></div>";
                  var infoWin = new BMap.InfoWindow(sitetxt, infoWinOpts);
                  marker.openInfoWindow(infoWin);
                  marker.addEventListener("click", function () {
                    this.openInfoWindow(infoWin);
                  }); //注册点击事件
                </script>
              </div>
              {/if}
            </div>
          </div>
        </div>
      </div>
      <div class="clear main_box_inner_bottom"></div>
    </div>


{template "content","footer"}