
<!-- 
  



  /gxss/style/three/



-->


{template "content","header"}
    <div class="banner">
      <script src="/gxss/style/three/js/d/slide_12.js" type="text/javascript"></script>
    </div>

       <div class="main_box main_box_style">
      <div class="main_box_inner">


        <div id="module_246" class="module_box">
          <div class="module_box_inner">
            <div class="module_title"><span class="module_sign"><span class="s1">产品展示</span><span class="s2">PRODUCT DISPLAY</span></span><span class="module_more"></span></div>
            <div id="module_content_246" class="module_content module_content_introduct">

              <div class="sy_chanpin">
                <div class="sy_cp_com">
                  <ul class="tpzs_box row">

                    <li class="animates4 col-md-3 col-sm-6">
                      <a class="pic" href="/index.aspx?lanmuid=91&sublanmuid=831&id=227">
                        <img src="/gxss/style/three/images/product/1.jpg"/>
                      </a>
                      <a class="tpzs_title" href="/index.aspx?lanmuid=91&sublanmuid=831&id=227">岫玉摆件小金蟾</a>
                    </li>

                    <li class="animates4 col-md-3 col-sm-6">
                      <a class="pic" href="/index.aspx?lanmuid=91&sublanmuid=830&id=226">
                        <img src="/gxss/style/three/images/product/2.jpg"/>
                      </a>
                      <a class="tpzs_title" href="/index.aspx?lanmuid=91&sublanmuid=830&id=226">岫玉冰料一心向佛 </a>
                    </li>

                    <li class="animates4 col-md-3 col-sm-6">
                      <a class="pic" href="/index.aspx?lanmuid=91&sublanmuid=830&id=225">
                        <img src="/gxss/style/three/images/product/3.jpg"/>
                      </a>
                      <a class="tpzs_title" href="/index.aspx?lanmuid=91&sublanmuid=830&id=225">红幽灵象形摆件</a>
                    </li>

                    <li class="animates4 col-md-3 col-sm-6">
                      <a class="pic" href="/index.aspx?lanmuid=91&sublanmuid=830&id=224">
                        <img src="/gxss/style/three/images/product/4.jpg"/>
                      </a>
                      <a class="tpzs_title" href="/index.aspx?lanmuid=91&sublanmuid=830&id=224">绿幽灵象形摆件</a>
                    </li>

                    <li class="animates4 col-md-3 col-sm-6">
                      <a class="pic" href="/index.aspx?lanmuid=91&sublanmuid=830&id=223">
                        <img src="/gxss/style/three/images/product/5.jpg"/>
                      </a>
                      <a class="tpzs_title" href="/index.aspx?lanmuid=91&sublanmuid=830&id=223">天然玛瑙水晶聚宝盆</a>
                    </li>

                    <li class="animates4 col-md-3 col-sm-6">
                      <a class="pic" href="/index.aspx?lanmuid=91&sublanmuid=820&id=222">
                        <img src="/gxss/style/three/images/product/6.jpg"/>
                      </a>
                      <a class="tpzs_title" href="/index.aspx?lanmuid=91&sublanmuid=820&id=222">天然玛瑙水晶聚宝盆</a>
                    </li>

                    <li class="animates4 col-md-3 col-sm-6">
                      <a class="pic" href="/index.aspx?lanmuid=91&sublanmuid=820&id=221">
                        <img src="/gxss/style/three/images/product/7.jpg"/>
                      </a>
                      <a class="tpzs_title" href="/index.aspx?lanmuid=91&sublanmuid=820&id=221">天然白水晶球摆件</a>
                    </li>

                    <li class="animates4 col-md-3 col-sm-6">
                      <a class="pic" href="/index.aspx?lanmuid=91&sublanmuid=820&id=220">
                        <img src="/gxss/style/three/images/product/8.jpg"/>
                      </a>
                      <a class="tpzs_title" href="/index.aspx?lanmuid=91&sublanmuid=820&id=220">黄晶洞</a>
                    </li>

                  </ul>
                </div>
                <a href="/index.aspx?lanmuid=91&sublanmuid=820" class="mored">更多产品</a>
              </div>

            </div>
            <div class="module_footer"><span class="l"></span><span class="r"></span></div>
          </div>
        </div>


        <div id="module_247" class="module_box">
          <div class="module_box_inner">
            <div id="module_content_247" class="module_content module_content_introduct">

              <div class="sy_chajiao">
                <div class="cj_coms">
                  <div class="cj_c_tit">观象授时</div>
                  <div class="cj_c_com"></div>
                </div>
              </div>



            </div>
            <div class="module_footer"><span class="l"></span><span class="r"></span></div>
          </div>
        </div>

        <div id="module_248" class="module_box">
          <div class="module_box_inner">
            <div class="module_title"><span class="module_sign"><span class="s1"></span><span class="s2">GO INTO WE</span></span><span class="module_more"></span></div>
            <div id="module_content_248" class="module_content module_content_introduct">

              <div style="margin:0 auto;max-width:1120px;" class="sy_about">
                <div>
                  <span style="font-size:16px;line-height:26px;text-align:left;text-indent: 2em;">观象授时，天时的政治化。观象授时是古天文学的伟大成就。中国社会科学院考古研究所冯时教授认为“在远古社会掌握天时的人就是了解天意的人，或者是可以与天沟通的人。”江晓原先生认为，“观象授时是依据历法知识，安排统治阶级的重大政治事务日程”。在我们看来不管是哪种解释，观象授时不仅仅是天文活动，更重要的是一种维护王权的政治活动，由此以祖配天、君权神授的古老宗教观也就天然形成。可见，由天文而人文是中国古人天然的思想路径。观象授时的古天文活动也为文明的起源和发展书写了重要的一笔。很难想象，如果没有相对准确的时间作指导，农业文明将决难达成。</span>
                </div>
                <!-- <div style="margin-top:20px;" align="center">
                  <img src="/e/images/diy/sy_ab_pic.png" />
                </div> -->
                <a href="/index.aspx?lanmuid=62&sublanmuid=694" class="mores">了解更多</a>
              </div>

            </div>
            <div class="module_footer"><span class="l"></span><span class="r"></span></div>
          </div>
        </div>


         <div id="module_245" class="module_box">
          <div class="module_box_inner">
            <div class="module_title"><span class="module_sign"><span class="s1">授时领域</span><span class="s2">TERRITORY</span></span><span class="module_more"></span></div>
            <div id="module_content_245" class="module_content module_content_introduct">

              <div class="sy_news">
                <ul class="row ztyw">

                  <li class="col-xs-12 col-md-5 ztyw_left">
                    <a href="/index.aspx?lanmuid=63&sublanmuid=547&id=626"><span class="s1_pic"><img src="/gxss/style/three/images/field.jpg"></span><span class="s1_tit">四明山红色之旅</span></a>
                    <p class="p1_com">四月二十日上午，天空下着蒙蒙细雨，公司多个部门在党总支书记叶辉的带领下，驱车2个多小时来到浙东革命根据地...</p>
                  </li>

                  <li class="col-xs-12 col-md-6 ztyw_right">
                    <div class="row">
                      <div class="con">
                        <a class="title" href="/index.aspx?lanmuid=63&sublanmuid=547&id=625">尊荣员工“班组建设与工作心态”培训会议</a>
                        <div class="introduct">4月26日，公司邀请万里学院工商管理系主任、教授叶素文博士进行了“班组建设与工作心态”为主题的培训，公司生产系统各车间主任、班组长和部分主要技术 人员共计120余...</div>
                      </div>
                    </div>
                  </li>

                  <li class="col-xs-12 col-md-6 ztyw_right">
                    <div class="row">
                      <div class="con">
                        <a class="title" href="/index.aspx?lanmuid=63&sublanmuid=547&id=624">荣获“广州市学习型企业”示范单位</a>
                        <div class="introduct">2014年3月，在宁波市学习型创建工作指导委员会组织的活动中，我公司被授予“广州市学习型企业”示范单位。这是对我公司企业文化宣传学习的肯定，我们将继续深入开展好...</div>
                      </div>
                    </div>
                  </li>

                  <li class="col-xs-12 col-md-6 ztyw_right">
                    <div class="row">
                      <div class="con">
                        <a class="title" href="/index.aspx?lanmuid=63&sublanmuid=547&id=623">公司工艺人才培训班正式开班</a>
                        <div class="introduct">为进一步贯彻公司人才发展战略，健全完善工艺人才培养机制，提升工艺水平、人才素质和综合能力，2月28日，公司工艺人才培训班在四楼会议室正式开班。 公司董事长陆信国...</div>
                      </div>
                    </div>
                  </li>

                </ul>
              </div>

            </div>
            <div class="module_footer"><span class="l"></span><span class="r"></span></div>
          </div>
        </div>



      </div>
      <div class="clear main_box_inner_bottom"></div>
    </div>

{template "content","footer"}