<div class="bottom_box" style="background:url(/gxss/style/four/images/bottom_bg.png) no-repeat center;background-size:100% 100%;">
  <!-- background:#e6e6e8; -->
    <div class="db_content">
      <div class="db_com">
        <div class="dibu_com1">
          <div class="c1_fl col-sm-8">
            {pc:content action="category" catid="0" num="25" siteid="$siteid" order="listorder ASC"} 
            {loop $data $r}
            <a href="{$r[url]}">{$r[catname]}</a>
            {/loop} 
            {/pc}   



            <!-- <a class="a1" href="">天猫商城</a><a class="a2" href="">官方微博</a><a class="a3" href="/index.aspx?lanmuid=65&sublanmuid=742">人才招聘</a> -->
          </div>
          <div class="c1_fr col-sm-4">
            加盟热线：020 - 1234 567
          </div>
        </div>
        <div class="dibu_com2">
          <div class="c2_fl col-sm-8 ">
            &copy; Copyright xxx.com XX服装 版权所有 粤ICP备12345678号
          </div>
          <div class="c2_fr col-sm-4">
            <img src="/gxss/style/images/logo.png" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div align=center style='padding:5px'>Powered by <a href='http://www.pageadmin.net'><b>PageAdmin CMS</b></a></div>
  </div>
</body>

</html>