
<!-- 
  



  /gxss/style/four/

3200/x = 1680/600
1680/945 3032/x
-->


{template "content","header"}
    <div class="banner">
      <script src="/gxss/style/four/js/d/slide_12.js" type="text/javascript"></script>
    </div>


     <div class="main_box main_box_style">
      <div class="main_box_inner">

        <div id="module_211" class="module_box fadedown">
          <div class="module_box_inner">
            
            <div id="module_content_211" class="module_content module_content_introduct">
              <div class="module_title">
                <span class="module_sign">观象授石</span>
                <span class="module_more"></span>
              </div>
              <div class="sy_pro" style="padding-top:0;">
                <div class="sy_proc" style="padding:80px 50px;background:url(/gxss/style/four/images/about_bg.png) no-repeat center center;background-size: 100% 100%;">
                  <div class="sy_pc_com">
                    <div class="marquee_pic marquee" id="m_211_0"><a class="prev"></a><a class="next"></a>
                      <!--控制按钮-->
                      <div class="inner">
                        <ul>

                          <li class="hx">
                            <a href="/index.aspx?lanmuid=67&sublanmuid=697&id=79" target="_self">
                              <img src="/gxss/style/four/images/product/1.jpg" border="0">
                            </a>
                            <a href="/index.aspx?lanmuid=67&sublanmuid=697&id=79" target="_self" title="吉祥摆件">吉祥摆件</a>
                          </li>

                          <li class="hx">
                            <a href="/index.aspx?lanmuid=67&sublanmuid=697&id=80" target="_self">
                              <img src="/gxss/style/four/images/product/2.jpg" border="0">
                            </a>
                            <a href="/index.aspx?lanmuid=67&sublanmuid=697&id=80" target="_self" title="灵石助运">灵石助运</a>
                          </li>

                          <li class="hx">
                            <a href="/index.aspx?lanmuid=67&sublanmuid=697&id=81" target="_self">
                              <img src="/gxss/style/four/images/product/3.jpg" border="0">
                            </a>
                            <a href="/index.aspx?lanmuid=67&sublanmuid=697&id=81" target="_self" title="生肖化煞助运">生肖化煞助运</a>
                          </li>

                          <li class="hx">
                            <a href="/index.aspx?lanmuid=67&sublanmuid=697&id=82" target="_self">
                              <img src="/gxss/style/four/images/product/4.jpg" border="0">
                            </a>
                            <a href="/index.aspx?lanmuid=67&sublanmuid=697&id=82" target="_self" title="水晶生机阵">水晶生机阵</a>
                          </li>

                          <li class="hx">
                            <a href="/index.aspx?lanmuid=67&sublanmuid=697&id=83" target="_self">
                              <img src="/gxss/style/four/images/product/5.jpg" border="0">
                            </a>
                            <a href="/index.aspx?lanmuid=67&sublanmuid=697&id=83" target="_self" title="五行佩饰">五行佩饰</a>
                          </li>

                          

                        </ul>
                      </div>
                    </div>
                    <script type="text/javascript">
                      marquee("m_211_0", "left", 1500);
                    </script>
                  </div>
                  <a href="/index.aspx?lanmuid=67&sublanmuid=697" class="sy_pc_more">查看更多 ></a>
                </div>
              </div>

            </div>
            <div class="module_footer"><span class="l"></span><span class="r"></span></div>
          </div>
        </div>

        <div id="module_231" class="module_box">
          <div class="module_box_inner">
            <div class="module_title"><span class="module_sign" style="color:#f2f2f2;">观象授时</span><span class="module_more"></span></div>
            <div id="module_content_231" class="module_content module_content_introduct">

              <div class="sy_about_us" style="padding:100px 50px;background:url(/gxss/style/four/images/about_bg.png) no-repeat center center;background-size: 100% 100%;width:1200px;max-width:1200px;">
                <div class="sy_ab_com" style="font-size:18px;line-height:26px;text-align:left;text-indent:2em;">观象授时是古天文学的伟大成就。中国社会科学院考古研究所冯时教授认为“在远古社会掌握天时的人就是了解天意的人，或者是可以与天沟通的人。”江晓原先生认为，“观象授时是依据历法知识，安排统治阶级的重大政治事务日程”。在我们看来不管是哪种解释，观象授时不仅仅是天文活动，更重要的是一种维护王权的政治活动，由此以祖配天、君权神授的古老宗教观也就天然形成。可见，由天文而人文是中国古人天然的思想路径。</div>
                <div class="sy_ab_img"><img src="/gxss/style/four/images/ab_img.jpg"></div>
                <a href="/index.aspx?lanmuid=62&sublanmuid=688" class="sy_ab_more" style="font-size:16px;">了解详情</a>
              </div>

            </div>
            <div class="module_footer"><span class="l"></span><span class="r"></span></div>
          </div>
        </div>


        <div id="module_232" class="module_box">
          <div class="module_box_inner">
            <div id="module_content_232" class="module_content module_content_introduct">

              <div class="sy_zhaoshang">
                <div class="col-xs-12 col-sm-6 zs_fl ">
                  <div class="fl_com">
                    <a href="/index.aspx?lanmuid=86&sublanmuid=758">
                      <div class="com_pic"><img src="/gxss/style/four/images/diy/sy_img1.jpg"></div>
                      <div class="com_tit">
                        <span class="s1">HISTORY COLUMN</span>
                        <span class="s2">历史专栏</span>
                      </div>
                      <div class="dzbg"></div>
                    </a>
                  </div>
                </div>
                <div class=" col-xs-12 col-sm-6 zs_fr">
                  <div class="fr_com1">
                    <a href="/index.aspx?lanmuid=85&sublanmuid=763">
                      <div class="com_pic"><img src="/gxss/style/four/images/diy/sy_img2.jpg"></div>
                      <div class="com_tit">
                        <span class="s1">TRIP OF GRASP</span>
                        <span class="s2">探源之旅</span>
                      </div>
                      <div class="dzbg"></div>
                    </a>
                  </div>
                  <div class="fr_com2">
                    <a href="/index.aspx?lanmuid=64&sublanmuid=803">
                      <div class="com_pic"><img src="/gxss/style/four/images/diy/sy_img3.jpg"></div>
                      <div class="com_tit">
                        <span class="s1">RESEARCH CENTER</span>
                        <span class="s2">研究中心</span>
                      </div>
                      <div class="dzbg"></div>
                    </a>
                  </div>
                </div>
              </div>

            </div>
            <div class="module_footer"><span class="l"></span><span class="r"></span></div>
          </div>
        </div>


        <div id="module_233" class="module_box">
          <div class="module_box_inner">
            <div id="module_content_233" class="module_content module_content_introduct">

              <div class="sy_cus" style="background-size:100% 100%;">
                <a href="/index.aspx?lanmuid=86&sublanmuid=758">
                  <div class="sy_cus_com">
                    <span class="s1">CUSTOMIZED SUITS</span>
                    <span class="s2">私人定制</span>
                  </div>
                  <div class="dzbg"></div>
                </a>
              </div>


            </div>
            <div class="module_footer"><span class="l"></span><span class="r"></span></div>
          </div>
        </div>



      </div>
      <div class="module_footer"><span class="l"></span><span class="r"></span></div>
    </div>
  </div>
  </div>
  <div class="clear main_box_inner_bottom"></div>
  </div>

{template "content","footer"}