{template "content","header"}
    <div class="banner">
      <script src="/gxss/style/four/js/d/slide_15.js" type="text/javascript"></script>
    </div>


    <div class="main_box main_box_style1">
      <div class="main_box_inner">
        <div class="main_box_inner_right" style="background:url(/gxss/style/four/images/store_bg.jpg) no-repeat center;background-size:100% 100%;">
          
          <div class="sublanmu_box sublanmu_box_755">

            <h3 class="text-center" style="padding:5px 0;"></h3>
            <hr>
            <div>
              <ul class="tpzs_box" >
              {pc:content action="lists" catid="$catid" order="id DESC" num="20" page="$_GET[page]"}
              {loop $data $r}
                <li class="tpzs_animate col-sm-3 col-xs-12">
                  <a class="pic" href="{$r[url]}">
                    <img src=" {$r[thumb]}" alt="">
                  </a>
                  <a class="tpzs_title" href="{$r[url]}">{$r[title]}</a>
                </li>
              {/loop}
              
              <style>
                clear:after{content: '';display: block;clear: both;}
                .pages {font-size:16px;}
                .pages a{padding:0 8px;}
                .pages span{color:#fff;padding:0 8px;background:#999;}
                .pages a:hover{background:#ccc;color:#fff;}
              </style>

              <div class='clear'></div>
              <div class="pages text-center">
                <!--<a class="a1">{$catid[items]}条</a>-->
                <div>{$pages}</div>
              </div>

              {/pc}
                <!-- <li class="tpzs_animate col-sm-3 col-xs-6">
                  <a class="pic" href="/index.aspx?lanmuid=84&sublanmuid=755&id=137">
                    <img src="/e/upload/s1/product/image/2016/12/tpic_t_05143315.jpg"/>
                  </a>
                  <a class="tpzs_title" href="/index.aspx?lanmuid=84&sublanmuid=755&id=137">西服系列</a>
                </li> -->

                

              </ul>


            </div>
          </div>
        </div>
      </div>
      <div class="clear main_box_inner_bottom"></div>
    </div>


{template "content","footer"}