{template "content","header"}    
    <style>
      .show_store{max-width:1200px;margin:0 auto;color:#ccc;}
      .show_store p{font-size:16px;line-height: 24px;}
      .main_box_inner_right .qhd-content hr{border-top-color:#555;}
    </style>
    <div class="banner">
      <script src="/gxss/style/four/js/d/slide_15.js" type="text/javascript"></script>
    </div>
    <br>
    <div class="show_store">
      <h2 style="color:#fff;" class="title">{$title}</h2>
      {$content}

    </div>
    
{template "content","footer"}    